-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sidaktejo
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) unsigned DEFAULT NULL,
  `username` varchar(100) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `aktivitas` varchar(255) NOT NULL,
  `detail` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_logs_user_id_foreign` (`user_id`),
  CONSTRAINT `audit_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ci_sessions`
--

DROP TABLE IF EXISTS `ci_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ci_sessions` (
  `id` varchar(128) NOT NULL,
  `ip_address` varchar(45) NOT NULL,
  `timestamp` int(10) unsigned NOT NULL DEFAULT 0,
  `data` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ci_sessions`
--

LOCK TABLES `ci_sessions` WRITE;
/*!40000 ALTER TABLE `ci_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `ci_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `group` varchar(255) NOT NULL,
  `namespace` varchar(255) NOT NULL,
  `time` int(11) NOT NULL,
  `batch` int(11) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penyulang`
--

DROP TABLE IF EXISTS `penyulang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penyulang` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `id_unik_penyulang` varchar(100) NOT NULL,
  `kode_penyulang` varchar(100) NOT NULL,
  `nama_penyulang` varchar(150) NOT NULL,
  `ulp_id` int(11) unsigned NOT NULL,
  `status` enum('AKTIF','NONAKTIF') NOT NULL DEFAULT 'AKTIF',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_unik_penyulang` (`id_unik_penyulang`),
  KEY `penyulang_ulp_id_foreign` (`ulp_id`),
  CONSTRAINT `penyulang_ulp_id_foreign` FOREIGN KEY (`ulp_id`) REFERENCES `ulps` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penyulang`
--

LOCK TABLES `penyulang` WRITE;
/*!40000 ALTER TABLE `penyulang` DISABLE KEYS */;
/*!40000 ALTER TABLE `penyulang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_tindak_lanjut`
--

DROP TABLE IF EXISTS `riwayat_tindak_lanjut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_tindak_lanjut` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `temuan_id` int(11) unsigned NOT NULL,
  `tanggal` datetime NOT NULL,
  `pelaksana` varchar(100) NOT NULL,
  `status_progress` varchar(50) DEFAULT NULL,
  `komentar` text DEFAULT NULL,
  `foto_sebelum` varchar(255) DEFAULT NULL,
  `foto_proses` varchar(255) DEFAULT NULL,
  `foto_sesudah` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `riwayat_tindak_lanjut_temuan_id_foreign` (`temuan_id`),
  CONSTRAINT `riwayat_tindak_lanjut_temuan_id_foreign` FOREIGN KEY (`temuan_id`) REFERENCES `temuan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_tindak_lanjut`
--

LOCK TABLES `riwayat_tindak_lanjut` WRITE;
/*!40000 ALTER TABLE `riwayat_tindak_lanjut` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_tindak_lanjut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sections`
--

DROP TABLE IF EXISTS `sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sections` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `penyulang_id` int(11) unsigned NOT NULL,
  `nama_section` varchar(150) NOT NULL,
  `status` enum('AKTIF','NONAKTIF') NOT NULL DEFAULT 'AKTIF',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sections_penyulang_id_foreign` (`penyulang_id`),
  CONSTRAINT `sections_penyulang_id_foreign` FOREIGN KEY (`penyulang_id`) REFERENCES `penyulang` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=509 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sections`
--

LOCK TABLES `sections` WRITE;
/*!40000 ALTER TABLE `sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_eviden_kubikel`
--

DROP TABLE IF EXISTS `tb_eviden_kubikel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_eviden_kubikel` (
  `id_kubikel` int(11) NOT NULL AUTO_INCREMENT,
  `id_penyulang` int(11) DEFAULT NULL,
  `id_section` int(11) DEFAULT NULL,
  `nama_gardu` varchar(100) DEFAULT NULL,
  `id_pel` varchar(100) DEFAULT NULL,
  `tgl_input` date DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_kubikel`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_eviden_kubikel`
--

LOCK TABLES `tb_eviden_kubikel` WRITE;
/*!40000 ALTER TABLE `tb_eviden_kubikel` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_eviden_kubikel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_eviden_trafo`
--

DROP TABLE IF EXISTS `tb_eviden_trafo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_eviden_trafo` (
  `id_trafo` int(11) NOT NULL AUTO_INCREMENT,
  `id_penyulang` int(11) DEFAULT NULL,
  `id_section` int(11) DEFAULT NULL,
  `nama_gardu` varchar(100) DEFAULT NULL,
  `tgl_input` date DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_trafo`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_eviden_trafo`
--

LOCK TABLES `tb_eviden_trafo` WRITE;
/*!40000 ALTER TABLE `tb_eviden_trafo` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_eviden_trafo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_foto_eviden`
--

DROP TABLE IF EXISTS `tb_foto_eviden`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_foto_eviden` (
  `id_foto` int(11) NOT NULL AUTO_INCREMENT,
  `id_parent` int(11) NOT NULL,
  `kategori` enum('KUBIKEL','TRAFO') NOT NULL,
  `jenis_foto` varchar(100) NOT NULL,
  `nama_file` varchar(255) NOT NULL,
  PRIMARY KEY (`id_foto`),
  KEY `id_parent_kategori` (`id_parent`,`kategori`)
) ENGINE=InnoDB AUTO_INCREMENT=285 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_foto_eviden`
--

LOCK TABLES `tb_foto_eviden` WRITE;
/*!40000 ALTER TABLE `tb_foto_eviden` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_foto_eviden` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_management_trafo`
--

DROP TABLE IF EXISTS `tb_management_trafo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_management_trafo` (
  `id_management` int(11) NOT NULL AUTO_INCREMENT,
  `id_penyulang` int(11) DEFAULT NULL,
  `id_section` int(11) DEFAULT NULL,
  `nama_gardu` varchar(100) DEFAULT NULL,
  `tgl_input` date DEFAULT NULL,
  `foto_nameplate_lama` varchar(255) DEFAULT NULL,
  `foto_nameplate_baru` varchar(255) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_management`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_management_trafo`
--

LOCK TABLES `tb_management_trafo` WRITE;
/*!40000 ALTER TABLE `tb_management_trafo` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_management_trafo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temuan`
--

DROP TABLE IF EXISTS `temuan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `temuan` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nomor_temuan` varchar(50) NOT NULL,
  `ulp_id` int(11) unsigned NOT NULL,
  `penyulang_id` int(11) unsigned NOT NULL,
  `section_id` int(11) unsigned NOT NULL,
  `jenis_temuan` varchar(50) NOT NULL,
  `pelaksana` varchar(50) NOT NULL,
  `prioritas` varchar(50) NOT NULL,
  `potensi_gangguan` varchar(50) NOT NULL,
  `konduktor` varchar(100) DEFAULT NULL,
  `noga` varchar(100) DEFAULT NULL,
  `material` text DEFAULT NULL,
  `detail_temuan` text DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `tanggal_temuan` date NOT NULL,
  `tanggal_selesai` date DEFAULT NULL,
  `foto` text DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'BELUM',
  `created_by` int(11) unsigned DEFAULT NULL,
  `created_by_name` varchar(255) DEFAULT NULL,
  `created_by_nip` varchar(50) DEFAULT NULL,
  `updated_by` int(11) unsigned DEFAULT NULL,
  `updated_by_name` varchar(255) DEFAULT NULL,
  `updated_by_nip` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `foto_path` varchar(255) DEFAULT NULL,
  `tindak_lanjut` text DEFAULT NULL,
  `catatan_tindak_lanjut` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_temuan` (`nomor_temuan`),
  KEY `temuan_ulp_id_foreign` (`ulp_id`),
  KEY `temuan_penyulang_id_foreign` (`penyulang_id`),
  KEY `temuan_section_id_foreign` (`section_id`),
  CONSTRAINT `temuan_penyulang_id_foreign` FOREIGN KEY (`penyulang_id`) REFERENCES `penyulang` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `temuan_section_id_foreign` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `temuan_ulp_id_foreign` FOREIGN KEY (`ulp_id`) REFERENCES `ulps` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=439 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temuan`
--

LOCK TABLES `temuan` WRITE;
/*!40000 ALTER TABLE `temuan` DISABLE KEYS */;
/*!40000 ALTER TABLE `temuan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ulps`
--

DROP TABLE IF EXISTS `ulps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ulps` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `kode_ulp` varchar(50) NOT NULL,
  `nama_ulp` varchar(150) NOT NULL,
  `status` enum('AKTIF','NONAKTIF') NOT NULL DEFAULT 'AKTIF',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_ulp` (`kode_ulp`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ulps`
--

LOCK TABLES `ulps` WRITE;
/*!40000 ALTER TABLE `ulps` DISABLE KEYS */;
INSERT INTO `ulps` VALUES (1,'51301','ULP Sidoarjo Kota','AKTIF','2026-07-16 08:54:04','2026-07-16 08:54:04'),(2,'51302','ULP Krian','AKTIF','2026-07-16 08:54:04','2026-07-16 08:54:04'),(3,'51303','ULP Porong','AKTIF','2026-07-16 08:54:04','2026-07-16 08:54:04'),(4,'51304','ULP Waru','AKTIF','2026-07-16 08:54:04','2026-07-16 08:54:04');
/*!40000 ALTER TABLE `ulps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(150) NOT NULL,
  `nama_pegawai` varchar(255) DEFAULT NULL,
  `nip` varchar(50) DEFAULT NULL,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `ulp_id` int(11) unsigned DEFAULT NULL,
  `ulp` varchar(100) DEFAULT 'ADMIN',
  `status` enum('AKTIF','NONAKTIF') NOT NULL DEFAULT 'AKTIF',
  `last_login` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `users_ulp_id_foreign` (`ulp_id`),
  CONSTRAINT `users_ulp_id_foreign` FOREIGN KEY (`ulp_id`) REFERENCES `ulps` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-23  9:47:56
